absl-py==0.13.0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
datasets==1.8.0
dill==0.3.4
filelock==3.0.12
fsspec==2021.6.1
huggingface-hub==0.0.12
idna==2.10
importlib-metadata==4.6.0
joblib==1.0.1
multiprocess==0.70.12.2
nltk==3.6.2
numpy==1.21.0
packaging==20.9
pandas==1.2.5
portalocker==2.0.0
protobuf==3.17.3
pyarrow==3.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
rouge-score==0.0.4
sacrebleu==1.5.1
sacremoses==0.0.45
sentencepiece==0.1.91
six==1.16.0
tokenizers==0.10.3
torch==1.9.0
tqdm==4.49.0
transformers==4.8.1
typing-extensions==3.10.0.0
urllib3==1.26.6
xxhash==2.0.2
zipp==3.4.1
